html

	head

		meta(charset="utf-8")

		block title
			title

		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")

		script(src="//apps.8thwall.com/xrweb?appKey=9JzsUVFvcpuB9DlCNhiOgzdqbKMPzDtCVMMz8nMGRw6JgyGBcUEpASuPrS3AIBHbL976i9")

	body

		canvas

		#wrapper.wrapper

			.wrapper-inner

				img#click(

					src="images/click 1.png"
					style="position: relative; top: 0px;"
				)
				img#zoom(

					src="images/zoom 2.png"
					style="display: none; position: relative; bottom: 2px; margin-top: 21px;"
				)
				#start(

					style="display: none; position: relative; bottom: 10px; margin-top: 49px;"
				)
					span Начать

				div(

					style="display: block; margin-top: 20px; margin-bottom: 50px;"
				)
					span
						| Наведите камеру на поверхность
						br
						| и тапните по ней пальцем
					span(style="display: none;")
						| Чтобы увеличить или уменьшить,
						br
						| используйте жест "зум"

		#next_animation(

			style="display: none; position: fixed; right: 10px; bottom: 10px;"
		)
			span Next animation


		#spinner.lds-spinner
			div
			div
			div
			div
			div
			div
			div
			div
			div
			div
			div
			div
